.navbar {
  width: 80%;
  margin: 0 auto;
  height: fit-content;
}

.header {
  background-color: aquamarine;
  margin: 0;
}

.header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 100px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding-left: 70px;
  margin-top: 23px;

  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

nav a:hover {
  color: red;
}

nav a::before {
  content: "";
  display: block;
  height: 3px;
  background-color: red;

  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

i {
  display: none;
  float: right;
  font-size: 30px;

  border: solid 2px;
  border-radius: 20%;
}

i:hover {
  background-color: aliceblue;
}

p {
  display: none;
}

@media (max-width: 768px) {
  nav a {
    color: blue;
  }
  i {
    display: flex;
  }
  nav a {
    display: none;
  }
}

@media (max-width: 740px) {
  .logo {
    display: none;
  }
  .navbar {
    width: 100%;
  }
  p {
    display: block;
    font-size: small;
  }
  .header {
    padding: 10px;
  }
}

@media (max-width: 425px) {
  p {
    text-align: center;
    color: blue;
  }
  i {
    display: flex;
  }
}
